html,
body {
    height: 100svh;

}

body {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

header {
    border-block-end: 1px solid currentColor;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: max-content;
    padding: 0.125rem;
    gap: 0.125rem;
    overflow-y: auto;
}

fieldset {
    border: 1px solid graytext;
    transition: align-self 1s ease-in-out;

    & > legend {
        text-align: start;
        margin-inline-start: 1rem;
        padding-inline: 0.5rem;
        font-weight: bold;
        cursor: pointer;
    }

    & > .fieldset-container {
        transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
        opacity: 1;
        max-height: 100vh;
        border: none;
        overflow: hidden;
    }

    @media screen and (max-width: 480px) {
        & > legend {

            &::before {
                content: '-\2002';
            }

            fieldset:has(>.shrink) > &::before {
                content: '+\2002';
            }
        }

        & > .fieldset-container.shrink {
            opacity: 0;
            max-height: 0;
            overflow: hidden;

            fieldset:has(&) {
                align-self: self-start;
            }
        }
    }
}

footer {
    padding: 0.125rem;
    border-block-start: 1px solid currentColor;
}